.App {
  /*text-align: center;*/
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navBar {
  background: gray;
  border-radius: 8px;
  padding: 20px;
  color:black;
  white-space: pre
}

nav table {
  margin:10px;
}

.form {
  padding: 70px 0;
  text-align: center;
  border: 3px solid rgba(124, 124, 124, 0.815);
  border-radius: 5px;
  width: 300px;
  height: 100px;
  margin-left: 800px;
  margin-top: 100px;
  font-weight: bold;
}


.log {
  text-align: center;
  border: 5px solid blue;
  width: 100px;
  height: 28px;
  border-radius: 5px;
  margin-left: 900px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
